body {
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
	height: 100vh;
	text-align: center;
	font-family: 'Roboto Flex', sans-serif;
	justify-content: center;
	padding: 50px 0px 50px 0px;
	color:#FAFAFA;
    font-variant-caps: all-small-caps;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}


.site {
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin: auto;
}

.intro {
    grid-column: 2;

    display: grid;
    grid-template-columns: 50% 50%;

}
.about-me {
    grid-column: 1;

    width: 100%;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.8;
	padding: 10px;
}

.avatar {
    grid-column: 2;
    align-self: center;
}

.avatar img {
    max-width: 80%;
    object-fit:contain; 
	padding: 15px;
	border-radius: 50%;
	border: 2px dashed rgba(0, 0, 0, 0.4);
    display: block;
    margin-left: auto;
}

.misc {
    grid-column: 2;
    margin: auto;
}

.icons {
	margin: 30px 0 30px 0;
}
.icons a {
	color: #FAFAFA;
}

i {
	font-size: 50px;
	margin: 10px;
}
i:hover {
	color: #EFDF00;
}
 

/* SUPERPOWERS */

.big-title {
    grid-column: 2;
    margin: auto;

    width: 100%;
	margin-bottom: 30px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.9;
	padding: 10px 0 10px 0;
}

.cont {
    grid-column: 2;

    display: grid;
    grid-template-columns: 30% 40% 30%;
    margin-bottom: 40px;

    align-items: center;

}

.cont > div {
    margin-bottom: 20px;
}

/* title */


/* .superpowers {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row: 1;
    margin: auto;

    width: 100%;
	margin-bottom: 30px;
	border-radius: 25px;
	background-color: rgba(0, 0, 0, 0.4);
	opacity: 0.9;
	padding: 10px 0 10px 0;

    display: flex;
    flex-direction: column;
} */

/* html */

.htitle{
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    padding-right: 10px;
}


.hprogress{
    grid-column: 2;
    grid-row:1;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.hvalue{
    grid-column: 3;
    grid-row:1;
    text-align: left;
    padding-left: 10px;
}

/* css */

.ctitle{
    grid-column: 1;
    grid-row: 2;
    text-align: right;
    padding-right: 10px;
}

.cprogress{
    grid-column: 2;
    grid-row: 2;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.cvalue{
    grid-column: 3;
    grid-row: 2;
    text-align: left;
    padding-left: 10px;
}

/* php */

.ptitle{
    grid-column: 1;
    grid-row: 3;
    text-align: right;
    padding-right: 10px;
}

.pprogress{
    grid-column: 2;
    grid-row: 3;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.pvalue{
    grid-column: 3;
    grid-row: 3;
    text-align: left;
    padding-left: 10px;
}

/* javascript */

.jtitle{
    grid-column: 1;
    grid-row: 4;
    text-align: right;
    padding-right: 10px;
}

.jprogress{
    grid-column: 2;
    grid-row: 4;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.jvalue{
    grid-column: 3;
    grid-row: 4;
    text-align: left;
    padding-left: 10px;
}
/****** FORMATIONS *******/

.year1{
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    padding-right: 10px;
}

.study1{
    grid-column: 2;
    grid-row: 1;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.fonction1{
    grid-column: 3;
    grid-row: 1;
    text-align: left;
    padding-left: 10px;
}

.year2{
    grid-column: 1;
    grid-row: 2;
    text-align: right;
    padding-right: 10px;
}

.study2{
    grid-column: 2;
    grid-row: 2;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.fonction2{
    grid-column: 3;
    grid-row: 2;
    text-align: left;
    padding-left: 10px;
}

.year3{
    grid-column: 1;
    grid-row: 3;
    text-align: right;
    padding-right: 10px;
}

.study3{
    grid-column: 2;
    grid-row: 3;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.fonction3{
    grid-column: 3;
    grid-row: 3;
    text-align: left;
    padding-left: 10px;
}

.year4{
    grid-column: 1;
    grid-row: 4;
    text-align: right;
    padding-right: 10px;
}

.study4{
    grid-column: 2;
    grid-row: 4;
    margin: auto;

    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.fonction4{
    grid-column: 3;
    grid-row: 4;
    text-align: left;
    padding-left: 10px;
}

/* EXPERIENCE */


li {
    list-style: none;
    text-align: center;
}
.position1{
    grid-column: 1;
    grid-row: 1;
    text-align: right;
    padding-right: 10px;
    
}

.what1{
    grid-column: 2;
    grid-row: 1;
    margin: auto;
    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
    
}

.when1{
    grid-column: 3;
    grid-row: 1;
    text-align: left;
    padding-left: 10px;
}

.position2{
    grid-column: 1;
    grid-row: 2;
    text-align: right;
    padding-right: 10px;
}

.what2{
    grid-column: 2;
    grid-row: 2;
    margin: auto;
    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.when2{
    grid-column: 3;
    grid-row: 2;
    text-align: left;
    padding-left: 10px;
}

.position3{
    grid-column: 1;
    grid-row: 3;
    text-align: right;
    padding-right: 10px;
}

.what3{
    grid-column: 2;
    grid-row: 3;
    margin: auto;
    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.when3{
    grid-column: 3;
    grid-row: 3;
    text-align: left;
    padding-left: 10px;
}

.position4{
    grid-column: 1;
    grid-row: 4;
    text-align: right;
    padding-right: 10px;
}

.what4{
    grid-column: 2;
    grid-row: 4;
    margin: auto;
    border-right: #EFDF00 1px solid;
    border-left: #EFDF00 1px solid;
    width: 100%;
}

.when4{
    grid-column: 3;
    grid-row: 4;
    text-align: left;
    padding-left: 10px;
}

.experiences {
    grid-column-start: 4;
    grid-column-end: 4;
    grid-row-start: 4;
    grid-row-end: 4;
    margin-left: auto;
    margin-right: auto;
}



/************** RESPONSIVE *******************/

@media only screen and (max-width: 768px){


    body {
        padding: 20px 0px 20px 0px;
    }

    .site {
        grid-template-columns: 1% 98% 1%;
        margin: auto;
    }

    .intro {
        grid-template-columns: 100%;
        grid-template-rows: 2;
    
    }

    .avatar {
        grid-column: 1;
        grid-row: 1;
        
        width: 80%;
        padding: 0;
        margin: auto;
        margin-bottom: 25px;
    }
    .about-me {
        grid-column: 1;
        grid-row: 2;
        width: 95%;
       
    }
    
    
    
  }
